header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}
nav ul {
    background: purple;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
}
nav li {
    color: #f1f1f1;
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-left: -5px;
}
nav a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 30px;
}
nav a:hover {
    background: #F1F1F1;
    color: #333;
  }
  
.logo {
    height: 90px;
  }
  
.logo img {
    max-height: 100%;
  }
  
  
.container {
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
}
p{
    font-size: 30px;
}
h2{
    font-size: 50px;
}
h1 {
	text-align: center;
}

.product {
	border: 1px solid #ccc;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

img {
	max-width: 100%;
}

button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
 }
